@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');
:root{
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
  --red: hsl(0, 100%, 66%);
}
body{
  font-size: 18px;
  font-family: 'Space Grotesk', sans-serif;
  background: linear-gradient(90deg, rgba(100, 72, 254, 1) 0%, rgba(96, 5, 148, 1) 100%);
  box-sizing: border-box;
  margin: 0;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
  width: 320px;
  padding: 20px 15px;
  border-radius: 15px;
  border: 1px solid var(--light-grayish-violet);
  box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.2);
  background-color: var(--white);

}
form{
  width: 100%;
  display: flex;
  flex-direction: column;
}
h1{
  text-align: center;
  color: var(--very-dark-violet);
  margin-top: 0;
}
label{
  margin: 20px 0 10px;
  color: var(--very-dark-violet);
  font-weight: 500;
  font-size: 0.9rem;
}
input{
  padding: 10px;
  border-radius: 5px;
  border: 0.1px solid var(--light-grayish-violet);
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--dark-grayish-violet);
}
fieldset{
  border: none;
  padding: 0;
  margin: 10px 0;
  vertical-align: center;
}
fieldset input{
  margin: 0;
}
.termino{
  font-size: 0.8rem;
}
input[type="submit"]{
  padding: 15px 0;
  border-radius: 10px;
  background-color: var(--very-dark-violet);
  color:var(--light-grayish-violet);
  font-size: 1rem;
}
.error{
  border: 0.5px solid var(--red);
}
.errorText_name, .errorText_email,
.errorText_pass{
  color: var(--red);
  font-size: 0.7rem;
  display: none;
}
input[type="submit"].disableBtn{
  background-color: var(--dark-grayish-violet);
}
.message{
  text-align: center;
  color: var(--very-dark-violet);
  display: none;
}
.messageError{
  text-align: center;
  color: var(--red);
  font-size: 0.8rem;
  display: none;
}
.active{
  display: block;
}